// Insert Less code here


/*LESS*/

@background-color-body: #171717;
@background-color-nav: #242424;
@background-color-item: #565656;
@white-color: #fff;
@green: #199f86;

@width-folder: 80%;
@folder-files-wh: 100px;
@icon-wh: 40px;

@font-size: 1.2em;

/*LESS RESPONSIVE*/

@folder-files-wh-res: 70px;
@icon-wh-res: 30px;

@font-size-res: 12px;



* {
    margin: 0;
    padding: 0;
    color: @white-color;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 100%;
}

/* FONT */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/ico/icomoon.eot?87g036');
    src: url('../fonts/icofonts/icomoon.eot?87g036#iefix') format('embedded-opentype'),
    url('../fonts/ico/icomoon.ttf?87g036') format('truetype'),
    url('../fonts/ico/icomoon.woff?87g036') format('woff'),
    url('../fonts/ico/icomoon.svg?87g036#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-view_list:before {
    content: "\e8ef";
}
.icon-view_module:before {
    content: "\e8f0";
}

/* HEADER*/

header {
    display:flex;
    justify-content: space-between;
    background-color:@background-color-body;
    height:60px;
    padding:20px;
}

#house {
    width: 40px;
    width: @icon-wh;
}

#main-title {
    margin-left: 1rem;
}

header a {
    max-height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a h1 {
    font-size: 18px;
    font-weight: normal;
}

#folder {
    display: flex;
    width:@width-folder;
    justify-content: flex-end;
    align-items: center;
    height:50px;
}

#parent-folder {
    height: @icon-wh;
    width: @icon-wh;
    display: block;
    margin-right: 10px;
    background-image: url(../img/icon/folder_back.png);
    background-size: cover;
}

#ariane {
    display: flex;
    align-items: center;
    background-color:@background-color-nav;
    border-radius: 2em;
    font-size: @font-size * 0.8;
    padding: 0.5em 1em;
    min-width: 20em;
    min-height: 2em;
    box-sizing: border-box;
}

#change-display {
    width: 1em;
    height: 1em;
    margin-left: 1rem;
    cursor: pointer;
    font-size: 3em;

    &:hover {
        color: @green;
    }
}

/*BODY*/

body {
    background-color:@background-color-body;
    width: 100%;
    display: block;
    font-family: 'Audiowide', cursive;
}

#navigation {
    background-color: @background-color-nav;
    width: 250px;
    display: block;
    height: 79vh;
}

#navigation a {
    display: block;
    padding: 10px;
}

#navigation a:hover {
    background-color: @background-color-body;
}

#content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#file-list {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 2em;

    &.table {
        flex-direction: column;
        flex-wrap: nowrap;

        .item {
            width: auto;
            justify-content: flex-start;
            align-items: center;
            padding: 0.5em 1em;

            .folder,
            .file,
            img {
                max-width: 20%;
                max-height: 100%;
            }

            .info {
                display: flex;
                width: 80%;

                .name, .mdate, .file-type {
                    width: 40%;
                    margin-left: 3%;
                    text-align: center;
                }

                .file-type {
                    width: 20%;
                }
            }
        }
    }
}

.item {
    display: flex;
    justify-content: space-around;
    width: 325px;
    height: 120px;
    margin: 10px;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: #565656;
    border-radius: 5px;
    align-items: center;
    font-family: arial, sans-serif;
}

.item img {
    max-width: 40%;
    max-height: 100%;
}

.folder {
    height: @folder-files-wh;
    width: @folder-files-wh;
    margin: 5px;
    background-image: url(../img/icon/folder.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.file {
    height: @folder-files-wh;
    width: @folder-files-wh;
    margin: 5px;
    background-image: url(../img/icon/picture.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.info {
    font-size:0.8em;
}

.name, .mdate {
    margin-bottom:0.4em;
}

section {
    display:flex;
    align-content: space-around;
}

section a {
    font-size: @font-size;
    text-decoration-line: none;
}

/*FOOTER*/

footer {
    width: auto;
    background-color: @background-color-nav;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

@media screen and(max-width:992px) {
    #ariane {
        min-width: 15em;
    }

    #navigation {
        background-color: @background-color-nav;
        width: 200px;
        height:80vh;
    }

    .item {
        display: flex;
        justify-content: space-around;
        width: 250px;
        height: 100px;
        margin: 8px;
    }

    .info{
        font-size:0.6em;
    }
}

@media screen and(max-width:576px) {

    /*HEADER*/

    header {
        height:40px;
        padding:10px;
    }

    #house {
        width: @icon-wh-res;
    }

    #main-title {
        display: none;
    }

    #folder {
        display: flex;
        width: @width-folder;
        height: 35px;
    }

    #parent-folder {
        height: @icon-wh-res;
        width: @icon-wh-res;
        display: block;
        margin-right: 1em;
        background-image: url(../img/icon/folder_back.png);
    }

    #ariane {
        font-size:@font-size-res;
        display: flex;
        align-items: center;
        min-width: 10em;
    }

    #change-display {
        display: none;
    }

    /*BODY*/

    #navigation {
        display: none;
    }

    #file-list {
        justify-content: center;
    }

    .item {
        width: 200px;
        height: 70px;
        margin: 5px;
    }

    .folder {
        height: @folder-files-wh-res;
        width: @folder-files-wh-res;
        margin: 5px;
    }

    .file {
        height: @folder-files-wh-res;
        width: @folder-files-wh-res;
        margin: 5px;
    }

    .name {
        font-size: 2em;
    }

    .mdate, .file-type {
        font-size: 1.5em;
    }

    section a {
        font-size: @font-size-res;
        text-decoration-line: none;
    }

    footer {
        font-size: 12px;
        margin-top: 2em;
    }
}