<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorateur de fichiers</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link rel="icon" href="img/icon/house.svg" sizes="64x64" type="image/svg">
</head>

<body>

    <header>
            <a href="./">
                <img id="house" src="img/icon/house.svg">
                <h1 id="main-title">Explorateur de fichiers</h1>
            </a>
            <nav id="folder">
                <a id="parent-folder" href="?filepath={{ parentFolder }}"></a>

                <div id="ariane">
                    <span>
                    {{ directory }}
                    </span>
                </div>
                <span id="change-display" class="icon-view_list"></span>
            </nav>
    </header>
    <section>
        <article id="navigation">
            {% for item in rootDirectory %}
                <a href="?filepath={{item.filePath}}">{{item.name}}</a>
            {% endfor %}
        </article>

        <article id="content">
            <div id="file-list">
                {% for item in content %}
                    {% if item.fileType == 'folder' %}
                        <a class="item" href="?filepath={{ item.filePath }}">
                    {% else %}
                        <a class="item" href="?download={{ item.filePath }}">
                    {% endif %}
                        {% if item.fileType == 'folder' %}
                            <div class="folder"></div>
                        {% else %}
                            {% if item.fileType == '.jpg' or
                                item.fileType == '.png' or
                                item.fileType == '.gif' or
                                item.fileType == '.svg' %}
                                <img src="{{ item.filePath }}">
                            {% else %}
                                <div class="file"></div>
                            {% endif %}
                        {% endif %}
                        <div class="info">
                            <div class="name">{{ item.name }}</div>
                            {% if item.fileType != 'folder' %}
                                <div class="mdate">Modifié le {{ item.mDate }}</div>
                                <div class="file-type">{{ item.fileType }}</div>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </article>
    </section>

    <footer>
        <p>Réalisé par Anaïs DULIEU, Quentin MERCIER, Yoann MOREAU, Cantin POISEAU</p>
    </footer>

    <script src="js/script.js" type="text/javascript"></script>
</body>

</html>
